







/*feature*/

/*prezent*/

/* .social-link-f {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 44px;
    height: 44px;
    fill: #AFB1B8;
    /* text-decoration: none;
    list-style: none; */
    border-radius: 50%;
    border-color: rgba(255, 255, 255, 0.1);


} */

/* .fb-social {
    display: inline-block;
    margin-top: 0px;
    margin-left: 72px;
} */








